// Body
$body-bg: #f5f7fb;

// Typography
$font-family-sans-serif: 'Montserrat', sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;

// Colors
$blue:  #1d5bcd;
$gray: #111111;
$trout: #777;

$primary: $blue;

// Font family

// Font weigh

$font-weight-light:     300;     
$font-weight-regular:   400;     
$font-weight-bold:      700;     

// Font sizes

$font-size-xs:          0.75rem;
$font-size-sm:          0.875rem;
$font-size-md:          1rem;
$font-size-lg:          1.2rem;
