<template>
    <div>
        <div class="row">
            <div class="mb-4 col-md-6">
                <h6 class="card-title">
                    Author
                </h6>
                <div class="d-flex align-items-center">
                    <div class="avatar mr-3"
                        style="background-image: url('https://www.digest.ph/storage/avatars/yoEY837LbzEiLfvc2mob7gz7siMhJogsUSWtFIsS.jpeg')"></div>
                    <div>
                        <p class="mb-0">{{ data.author }}</p>
                        <p class="mb-0">
                            <em>Created last {{ data.created_at }}</em>
                        </p>
                    </div>
                </div>
            </div>
            <div class="mb-4 col-md-6">
                <h6 class="card-title">
                    CATEGORY
                </h6>
                <p class="text-capitalize">
                    {{ data.category }}
                </p>
            </div>
        </div>

        <h6 class="card-title pt-4">
            Summary
        </h6>
    </div>
</template>

<script>
export default {
    props: {
        data: {
            required: true
        }
    }
}
</script>