<template>
    <div class="container case">
        <page-header v-if="dataLoaded"
                     :title="data.title"
                     :rating="data.rating" />
        
        <div class="card mt-4">
            <div class="card-body pl-5 pt-5 pb-5 pr-5">
                <ul class="nav nav-pills">
                    <li class="nav-item" 
                        v-for="(section, index) in sections" 
                        :key="index">
                        
                        <a  href="#"
                            :class="{
                                'nav-link': true,
                                'active' : section.active
                            }"
                            @click="changeTab(section)"
                            >{{ section.title }}</a>
                    </li>
                </ul>
                <hr />
                <div class="tab-content pt-4">
                    <div v-show="section.active"
                        v-for="(section, index) in sections"
                        :key="index">
                        
                        <general-info :data="data"
                                      v-if="section.key === 'summary'" />

                        {{ section.content }}
                    </div>
                </div>
            </div>
        </div>
        <other-notes v-if="dataLoaded" :note="data.note" />
    </div>
</template>

<script>

import GeneralInfo from './GeneralInfo.vue';
import PageHeader from './PageHeader.vue';
import OtherNotes from './OtherNotes.vue';

export default {   

    components: {
        GeneralInfo,
        PageHeader,
        OtherNotes
    },
    
    data () {
        return {
            data: {},
            sections: [
                {
                    title: 'Overview',
                    active: true,
                    content: '',
                    key: 'summary'
                },
                {
                    title: 'Doctrine',
                    active: false,
                    content: '',
                    key: 'doctrine'
                },
                {
                    title: 'Facts',
                    active: false,
                    content: '',
                    key: 'facts'
                },
                {
                    title: 'Issues Ratio',
                    active: false,
                    content: '',
                    key: 'issues_ratio'
                },
            ],
            dataLoaded: false
        }
    },

    mounted () {

        // Fetch data from local storage
        this.data = JSON.parse(localStorage.getItem('DIGEST_EXAM_DATA'));
        
        // Convert rating to integer
        this.data.rating = Number(this.data.rating);

        // Populate section content
        this.addSectionContent();
    },

    watch: {
        // Observe if data is loaded 
        data (value) {
            (value && typeof value === 'object') && (this.dataLoaded = true);
        }
    },

    methods: {

        // Reusable loop method for modifying the `sections` array data
        goThroughSections (fnCallback) {
            this.sections.forEach(item => {
                (typeof fnCallback === 'function') && fnCallback(item);
            })
        },

        addSectionContent () {
            this.goThroughSections( item =>  {
                switch (item.key) {
                    case ('summary'):
                    case ('doctrine'):
                    case ('facts'):
                    case ('issues_ratio'):
                        item.content = this.data[item.key]
                }
            });
        },

        changeTab (sectionItem = {}) {
            this.goThroughSections ( item => {
                item.active = false;
                (sectionItem.key === item.key) && (item.active = true);
            })
        }
    }
}
</script>