<template>
    <div class="card mt-5">
        <div class="card-body pl-5 pt-5 pb-5 pr-5">
            <h6 class="card-title">
                Other Notes
            </h6>
            <hr />
            {{ note }}
        </div>
    </div>
</template>

<script>
export default {
    props: {
        note: {
            type: String,
            required: true
        }
    }
}   
</script>