<template>
    <div class="d-flex">
        <h3>
            <div>{{ title }}</div>
            <span class="text-label">CASE TITLE</span>
        </h3>
        <div class="case__rating ml-auto">
            <img class="mr-2" v-for="index in rating" :key="index" src="/img/star.svg">
        </div>
    </div>
</template>

<script>
export default {
    props: {
        title: {
            required: true,
            type: String
        },

        rating: {
            required: true,
            type: Number
        }
    },
}
</script>